<div class="gamearea">
  <img src="https://www.puzzlegame.com/games/Guess-Word/adapter/logo.png" alt="logo">
  <div class="info">
    <p class="detail">Score: <%=session[:score]%></p>
    <p class="detail">Available tries: <%= session[:counter] %></p>
  </div>
  <div class="letters">
    <% @letters.each do |letter|%>
    <p class="letter"><%= letter %></p>
    <% end %>
  </div>

  <p class="message">What is the longest word you can find?</p>

  <div class="form">
    <form action="score" method="post" data-turbo="false">
        <input class="form-input" type="text" name="word">
        <input class="form-btn" type="submit" value="Play">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag :letters, @letters %>
    </form>
    <%= form_tag(reset_score_path, method: :post) do %>
    <%= button_tag(type: 'submit', class: 'reset-btn') do %>
      Reset Game
    <% end %>
    <% end %>
  </div>


</div>
